Repository catebi/Catebi.Api, pull requests merged in 2024-02, with the labels that each got.

#55 #50 save messages analysis
  Catebi.Api.Data/Contracts/IUnitOfWork.cs
  Catebi.Api.Data/Contracts/Repositories/IFreeganMessageRepository.cs
  Catebi.Api.Data/Db/Context/CatebiContext.cs
  Catebi.Api.Data/Db/Entities/Cat.cs
  Catebi.Api.Data/Db/Entities/CatCatTag.cs
  Catebi.Api.Data/Db/Entities/CatCollar.cs
  Catebi.Api.Data/Db/Entities/CatHouseSpace.cs
  Catebi.Api.Data/Db/Entities/CatImageUrl.cs
  Catebi.Api.Data/Db/Entities/CatSex.cs
  Catebi.Api.Data/Db/Entities/CatTag.cs
  Catebi.Api.Data/Db/Entities/ClinicVisit.cs
  Catebi.Api.Data/Db/Entities/ClinicVisitFile.cs
  Catebi.Api.Data/Db/Entities/Color.cs
  Catebi.Api.Data/Db/Entities/MedSchedule.cs
  Catebi.Api.Data/Db/Entities/Message.cs
  Catebi.Api.Data/Db/Entities/Permission.cs
  Catebi.Api.Data/Db/Entities/Prescription.cs
  Catebi.Api.Data/Db/Entities/Role.cs
  Catebi.Api.Data/Db/Entities/RolePermission.cs
  Catebi.Api.Data/Db/Entities/TimeUnit.cs
  Catebi.Api.Data/Db/Entities/Volunteer.cs
  Catebi.Api.Data/Db/Entities/VolunteerRole.cs
  Catebi.Api.Data/Implementations/Repositories/FreeganMessageRepository.cs
  Catebi.Api.Data/Implementations/UnitOfWork.cs
  Catebi.Api.Data/Models/FreeganMessageDto.cs
  Catebi.Api.Domain/Contracts/Services/IFreeganMessageService.cs
  Catebi.Api.Domain/Implementations/Services/FreeganMessageService.cs
  Catebi.Api/Controllers/FreeganController.cs
  Catebi.Api/Controllers/MapController.cs
  Catebi.Api/Controllers/NotionSyncController.cs
  Catebi.Api/Startup.cs
Labels: api, db

#57 #56 add opentelemetry logging
  Catebi.Api/Catebi.Api.csproj
  Catebi.Api/Program.cs
  Catebi.Api/Startup.cs
Labels: api, logging

#58 #56 rewrite api bootstrap; remove autofac
  Catebi.Api.Data/Catebi.Api.Data.csproj
  Catebi.Api/Catebi.Api.csproj
  Catebi.Api/Program.cs
  Catebi.Api/Startup.cs
  ci/docker/Dockerfile.catebi.api
Labels: api

#63 #60 donation chat table
  db/changelog/releases/1.0.0/04._medical_care_tables.sql
  db/changelog/releases/1.0.0/primary_filling_of_db_tables/05._donaton_chat_table.sql
Labels: db

#64 donation chat table
  db/changelog/releases/1.0.0/05._donaton_chat_table.sql
Labels: db
